Options +Indexes
AddDescription "First bloatpost" "first-bloatpost.html" #Sun, 27 Dec 2020 21:56:16 +0100
AddDescription "New domain" "new-domain.html" #Sun, 17 Jan 2021 22:45:42 +0100
AddDescription "New Site! Now a colorized cli/shell site!" "new-site-now-a-colorized-clishell-site.html" #Tue, 10 Aug 2021 11:58:17 +0200
